/prak-tugas3/nbproject/private/
/prak-tugas3/build/
/Latih/Latih/build/
/Latih/Latih/dist/
/Latih/Latih/nbproject/private/
/Latih/build/
/Latih/dist/
/Latih/nbproject/private/
/quiz1/nbproject/private/
/quiz1/build/
/Quiz-123190123/nbproject/private/
/Quiz-123190123/build/
/Quiz-123190123/dist/
