/prak-tugas3/nbproject/private/
/prak-tugas3/build/
/Latih/Latih/build/
/Latih/Latih/dist/
/Latih/Latih/nbproject/private/
/Latih/build/
/Latih/dist/
/Latih/nbproject/private/
/quiz1/nbproject/private/
/quiz1/build/
/Quiz-123190123/nbproject/private/
/Quiz-123190123/build/
/Quiz-123190123/dist/
/DisplayingImage/nbproject/private/
/DisplayingImage/build/
/SpaceInvader/nbproject/private/
/SpaceInvader/build/
/SpaceInvader/dist/
/GameCreation/nbproject/private/
/GameCreation/build/
/ldatabase/nbproject/private/
/ldatabase/build/
/GameApaIni/nbproject/private/
/GameApaIni/build/
/GameApaIni/dist/
/Responsi/nbproject/private/
/Responsi/build/
/Responsi/dist/
